/* body */
body {
    background-color: green;
    /* text-align: center; */
}


/* table */

table {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: lightgreen;

}

table, th, td {

    border: solid black 1px;
    border-collapse: collapse;
}

#img {
    text-align: center;
}

h1, #pp {
    text-align: center;
    color: white;
}


ol {
    list-style-position: inside;
    text-align:justify;
}

/* pic */
img {
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: green solid 3px;
    text-align: justify;
}


/* fonts */
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(80, 79, 79);
}

a:active {
    color: rgb(80, 79, 79);
}

#sent {
    text-align: left;
}